@charset "UTF-8";
@import url("/shop/emp/css/common.css");

.emplist-container {
    display: flex;
}

.emplist-wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 14px 0 0 14px;
    box-shadow: -5px -5px 12px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.emplist-link {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 14px 0 0 0;
    
    display: flex;
    align-items: center;
    
    padding: 14px 0;
}

.emplist-link > a {
    margin-left: 30px;
}

.emplist-category {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    
    display: flex;
    align-items: center;
    
    padding: 30px 0;
}

.emplist-category-btn {
    margin-left: 30px;
}

.emplist-sort-container {
    display: flex;
    align-items: center;
    
    padding: 20px;
}

.emplist-sort-wrap {
    display: flex;
}

.emplist-sort {
    margin: 0 10px;
}

.emplist-content-container {
    display: flex;
    
    padding: 0 20px;
}

.emplist-content-wrap {
    display: flex;
    flex-wrap: wrap;
}

.emplist-content {
    width: 268px;
    height: 168px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    
    display: flex;
    
    padding: 16px;
}

.emplist-image {
    width: 100px;
    height: 136px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.emplist-image img {
    width: inherit;
    height: inherit;
    border-radius: 8px;
    object-fit: cover;
}

.emplist-info {
    margin-left: 15px;
}